**/myinput.txt
day6/day6.o
day6/day6
day6/day6.hi
day6/day6.png
day1/day1
day1/day1.hi
day1/day1.o
day3/main.py
day4/backup.hs
day5/main.go
day5/go.mod
day2/day2
day2/day2.hi
day2/day2.o
day5/day5.aux
day5/day5.hi
day5/day5.hp
day5/day5.o
day5/day5.prof
day5/day5.ps
day6/day6.hp
day6/day6.prof
day6/day6.ps
day6/day6.aux
day5/day5
